{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="fh5co-about" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-pull-4 img-wrap animate-box" data-animate-effect="fadeInLeft">
				<img src="{% static 'images/hero_1.jpeg' %}" alt="Restaurant Image">
			</div>
			<div class="col-md-5 col-md-push-1 animate-box">
				<div class="section-heading">
					<h2>Welcome, {{ user.username }}</h2>
					<p>Enjoy a personalized experience at our restaurant.</p>
					<p><a href="{% url 'logout' %}" class="btn btn-primary btn-outline">Logout</a></p>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="fh5co-featured-menu" class="fh5co-section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 fh5co-heading animate-box">
				<h2>Your Exclusive Menu</h2>
				<p>Here are some recommendations just for you.</p>
			</div>

			{% for item in menu_items %}
			<div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 fh5co-item-wrap animate-box">
				<div class="fh5co-item">
					<img src="{% static item.image_url %}" class="img-responsive" alt="{{ item.name }}">
					<h3>{{ item.name }}</h3>
					<span class="fh5co-price">${{ item.price }}</span>
					<p>{{ item.description }}</p>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
</div>

<div id="fh5co-booking" class="fh5co-section">
	<div class="container">
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<h2>Book Your Table</h2>
				<p>Secure your spot at our restaurant with a quick reservation.</p>
				<p><a href="{% url 'reservation' %}" class="btn btn-primary btn-outline">Book Now</a></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}
